{% extends 'instructor/base_instructor.html' %}
{% block content %}
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">Overview</div>
          <h2 class="page-title">{{ course.title }}</h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
          <div class="btn-list">
            <span class="d-none d-sm-inline"><a href="#" class="btn">Update Course</a></span>
            <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>Delete Course
            </a>
            <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <!-- Course Details -->
              <h1>{{ course.title }}</h1>
              <p>Instructor: {{ course.instructor }}</p>
              <p>Language: {{ course.get_language_display }}</p>
              <p>Difficulty Level: {{ course.get_difficulty_level_display }}</p>
              <!-- Add other course details as needed -->
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="card">
            {% for module in course.modules.all %}
              <div class="px-2">
                <h3 class="p-2 bg-purple-lt">{{ module.module_name }}</h3>
                <p class="px-2">{{ module.description|safe }}</p>
              </div>
              <div class="p-2">
                {% for lesson in module.lessons.all %}
                  <div>
                    <!-- Lesson icon from tabler.io -->

                    <h4 class="my-2  text-purple bg-transparent">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right-lines" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 9v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-3v-6h3z"></path>
                        <path d="M3 9v6"></path>
                        <path d="M6 9v6"></path>
                      </svg>
                      {{ lesson.lesson_name }}
                    </h4>
                    <p>{{ lesson.content }}</p>
                    {% if lesson.attachment %}
                     atached file : <a href="{{ lesson.attachment.url }}" target="_blank">{{ lesson.attachment }}</a>
                    {% endif %}
                    
                    <!-- Display video if it exists -->
                    {% if lesson.video %}
                      <video controls class="card w-100 my-2">
                        <source src="{{ lesson.video.url }}" type="video/mp4" />Your browser does not support the video tag.
                      </video>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="col-4">
          <div class="card p-2">
            <img src="{{ course.image_thumbnail.url }}" class="mb-2 rounded-3 border" />
            <p>what_youll_learn: {{ course.what_youll_learn|safe }}</p>
            <p>requirements: {{ course.requirements|safe }}</p>
            <p>detailed_description: {{ course.detailed_description|safe }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
